# Estadística descriptiva

Existen diferentes herramientas en Python para realizar estadística descriptiva, se ha elegido el módulo pandas, en el siguiente [enlace](http://pandas.pydata.org) se encuentra la página oficial del módulo.

In [3]:
import pandas as pd # importamos el modulo

#Series: tipo de dato de pandas donde registramos los valores a estudiar
valores=pd.Series([25,26,25,23,30,29,23,34,40,30,51,46]) 

# creamos un diccionario donde podemos indicar que representan los datos
datos = {'Edades':valores}

#data.Frame: tipo de dato de padas que permite guardar diferentes datos 
#seria el equivalente a una hoja de excel donde cada variable del diccionario es un columna que 
#tienen un nombre, tiene el detalle que numera desde el elemento 0
datosDF= pd.DataFrame(datos)
datosDF

    Edades
0       25
1       26
2       25
3       23
4       30
5       29
6       23
7       34
8       40
9       30
10      51
11      46

In [14]:
#se puede calcular de manera muy sencilla el numero de datos
datosDF.count()

Edades    12
dtype: int64

In [15]:
#se puede calcular de manera muy sencilla la media de los datos
datosDF.mean()

Edades    31.833333
dtype: float64

In [5]:
#se puede calcular de manera muy sencilla la mediana de los datos 
datosDF.median()

Edades    29.5
dtype: float64

In [6]:
#se puede calcular de manera muy sencilla la moda de los datos 
datosDF.mode()

   Edades
0      23
1      25
2      30

In [7]:
#se puede calcular de manera muy sencilla la varianza
datosDF.var()

Edades    85.242424
dtype: float64

In [8]:
#se puede calcular de manera muy sencilla la desviación estandar
datosDF.std()

Edades    9.232682
dtype: float64

In [9]:
#se puede calcular de manera muy sencilla el valor minimo
datosDF.min()

Edades    23
dtype: int64

In [11]:
#se puede calcular de manera muy sencilla el valor maximo
datosDF.max()

Edades    51
dtype: int64

In [13]:
# tambien se tiene de manera sencilla un resumen de las caracteristicas numericas de los datos 
datosDF.describe()

          Edades
count  12.000000
mean   31.833333
std     9.232682
min    23.000000
25%    25.000000
50%    29.500000
75%    35.500000
max    51.000000